In [1]:
import tensorflow as tf
import tensorflow_hub as hub
import tensorflow_text as test

In [4]:
import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/rotoncsedu/Transformer/main/spam.csv')
df.head(5)

  Category                                            Message
0      ham  Go until jurong point, crazy.. Available only ...
1      ham                      Ok lar... Joking wif u oni...
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...
3      ham  U dun say so early hor... U c already then say...
4      ham  Nah I don't think he goes to usf, he lives aro...

In [6]:
df.groupby('Category').describe()

         Message                                                            \
           count unique                                                top
Category
ham         4825   4516                             Sorry, I'll call later
spam         747    641  Please call our customer service representativ...


         freq
Category
ham        30
spam        4

In [8]:
df_spam = df[df['Category'] == 'spam']
df_spam.shape

(747, 2)

In [9]:
df_ham = df[df['Category'] == 'ham']
df_ham.shape

(4825, 2)

In [15]:
df_ham_downsample = df_ham.sample(df_spam.shape[0])
df_ham_downsample.shape

(747, 2)

In [16]:
df_balance = pd.concat([df_ham_downsample, df_spam])
df_balance.shape

(1494, 2)

In [17]:
df_balance['Category'].value_counts()

Category
ham     747
spam    747
Name: count, dtype: int64